.bot-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bot-image {
  height: 20vh;
  width: 100%;
  background-image: url(../images/Person_fill.svg);
  background-clip: content-box;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom left;
}

.bot {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
  border: 0.3em solid black;
  border-radius: 0.7em;
}

#bot {
  height: 90%;
  width: 90%;
  overflow-x: hidden;
  overflow-y: auto;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;

  &::-webkit-scrollbar { width: 0; }
}

